{% extends "base.html" %}

{% block title %}
  Delete {{ todo_object.name }}
{% endblock title %}
{% block content %}
  <main>
    <div>
      <form method="post">
        <p>You are about to permanently delete this list.</p>
        <p>Are you sure you wish to delete?</p>
        {% csrf_token %}
        <button>Delete</button>
      </form>
      </div>
      <div>
        <p>
          <a href="{% url 'todo_list_list' %}">No, take me back please</a>
        </p>
      </div>
    </main>
  {% endblock content %}
