{% extends "base.html" %}

{% block title %}
  {{ todo_object.name }}
{% endblock title %}
{% block content %}
  <main>
    <div>
      <h1>{{ todo_object.name }}</h1>
      <p>
        <a href="{% url 'home_page' %}">Home</a>
      </p>
      <p>
        <a href="{% url 'todo_list_update' todo_object.id %}">Edit</a>
        <a href="{% url 'todo_list_delete' todo_object.id %}">Delete</a>
      </p>
      <h2>Tasks</h2>
      <table>
        <thead>
          <tr>
            <th>Task</th>
            <th>Due Date</th>
          </tr>
        </thead>
        <tbody>
          {% for task in todo_object.items.all %}
            <tr>
              <td>
               <a href="{% url 'todo_item_update' task.id %}">{{ task.task }}</a>
              </td>
              <td>{{ task.due_date }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </main>
{% endblock content %}
