{% extends "base.html" %}

{% block title %}
  Update Items
{% endblock title %}
{% block content %}
  <main>
    <div>
      <form method='post'>
        {% csrf_token %}
        {{ form.as_p }}
        <button>Update</button>
      </form>
    </div>
  </main>
{% endblock content %}
