{% extends "base.html" %}

{% block title %}
  Update {{ todo_object.name }}
{% endblock title %}
{% block content %}
  <main>
    <div>
      <h1>Update List Name</h1>
      <form method='post'>
        {% csrf_token %}
        <label for="name">Name:</label>
        <input type='text' name='name' placeholder="Rename your list">
        <button>Update</button>
      </form>
      </div>
    </main>
  {% endblock content %}
